<div class="form-container" dir="rtl">
  <h1>יצירת הקדשה</h1>

  <mat-vertical-stepper linear class="animated backInUp fast">
    <mat-step [stepControl]="deceasedDetailsForm" label="פרטי הנפטר" state="details">
      <ng-template matStepperIcon="details">
        <mat-icon>face</mat-icon>
      </ng-template>
      <form [formGroup]="deceasedDetailsForm" class="deceased-details-form">
        <mat-form-field appearance="outline">
          <mat-label>שם הנפטר</mat-label>
          <mat-icon matSuffix>face</mat-icon>
          <input matInput placeholder="שם עבור ההקדשה" formControlName="title">
          <mat-hint>יופיע בכותרת</mat-hint>
          <mat-error *ngIf="deceasedDetailsForm.controls.title.errors">שם לא תקין</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>תיאור</mat-label>
          <mat-icon matSuffix>edit_note</mat-icon>
          <textarea matInput placeholder="כמה מילים על הנפטר" formControlName="description"></textarea>
          <mat-hint>יופיע כטקסט קטן מתחת לכותרת</mat-hint>
          <mat-error *ngIf="deceasedDetailsForm.controls.description.errors">תיאור לא תקין</mat-error>
        </mat-form-field>
      </form>

      <div class="stepper-actions">
        <button mat-icon-button matStepperNext>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step [stepControl]="dedicationForm.controls.image" label="העלאת תמונה" state="image">
      <div class="image-form">
        <input type="file" class="image-file-selection-input" id="imageSelectionInput"
               (change)="fileChangeEvent($event)">
        <label class="image-selection-label" for="imageSelectionInput">
          <img *ngIf="dedicationForm.controls.image.value" class="image-cropped"
               [src]="dedicationForm.controls.image.value" />

          <div *ngIf="!dedicationForm.controls.image.value" class="empty-selection">
            <mat-icon>add_a_photo</mat-icon>
            <span>לחצו כאן לבחירת תמונה</span>
          </div>

          <div *ngIf="dedicationForm.controls.image.value" class="with-selection">
            <mat-icon>party_mode</mat-icon>
            <span>לחצו כאן לשינוי תמונה</span>
          </div>

        </label>
      </div>

      <div class="stepper-actions">
        <button mat-icon-button matStepperNext>
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-icon-button matStepperPrevious>
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step label="תאריך עברי" state="date" [stepControl]="dateDetailsForm">
      <form [formGroup]="dateDetailsForm" class="date-form">
        <div formGroupName="date" class="hebrew-date-selection">
          <mat-form-field appearance="outline" class="date-form-field">
            <mat-label>יום</mat-label>
            <input matInput type="number" placeholder="1-30" formControlName="day" min="1" max="30">
            <mat-error *ngIf="dateForm.controls.day.errors">יום לא תקין</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="date-form-field">
            <mat-label>חודש</mat-label>
            <mat-select formControlName="month">
              <mat-option *ngFor="let month of hebMonth" [value]="month.id">
                {{month.displayName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dateForm.controls.month.errors">יש לבחור חודש</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="date-form-field">
            <mat-label>שנה</mat-label>
            <input matInput type="number" placeholder="5500-6000" formControlName="year" min="5500" max="6000">
            <mat-error *ngIf="dateForm.controls.year.errors">שנה לא תקינה</mat-error>
          </mat-form-field>

        </div>

        <div class="hebrew-date">
          {{hebDateRendered}}
        </div>

        <mat-checkbox formControlName="isRepeated" color="accent">חוזר כל שנה</mat-checkbox>
      </form>

      <div class="stepper-actions">
        <button mat-icon-button matStepperNext (click)="onSubmit()" class="check" [disabled]="!dedicationForm.valid">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button matStepperPrevious>
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="details">
      <mat-icon>face</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="image">
      <mat-icon>add_a_photo</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="date">
      <mat-icon>calendar_month</mat-icon>
    </ng-template>
  </mat-vertical-stepper>
</div>
