.form-container {
  margin: auto;
  display: flex;
  padding: 20px;
  gap: 20px;
  max-width: 500px;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  mat-vertical-stepper {
    border-radius: 5px;
    background: #222;

    .stepper-actions {
      button {
        background-color: #0085ff;
        margin-left: 1em;

        &.check {
          background: limegreen;
        }

        &:disabled {
          opacity: .5;
        }
      }
    }

    .deceased-details-form, .date-form, .image-form {
      padding: calc(3em - 24px) 0 3em 0;
      display: flex;
      flex-direction: column;
    }

    .deceased-details-form {
      textarea {
        resize: none;
        height: 5em;
      }
    }

    .image-form {
      input {
        display: none;
      }

      label {
        display: flex;
        cursor: pointer;
        align-items: center;
        flex-direction: column;

        .empty-selection {
          gap: 30px;
          width: 250px;
          height: 200px;
          display: flex;
          border-radius: 5px;
          background: #000000;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          mat-icon {
            transition: .2s;
            font-size: 2rem;
          }

          &:hover {
            mat-icon {
              width: 3rem;
              height: 3rem;
              margin-top: calc(100px - 3rem);
              font-size: 3rem;
              animation: 1s jello;
              animation-delay: .1s;
            }

            span {
              animation: .5s fadeOutDown forwards;
            }
          }
        }

        .with-selection {
          margin-top: 3rem;
          gap: 10px;
          display: flex;
        }
      }
    }

    .date-form {
      .hebrew-date-selection {
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-form-field {
          width: 30%;
        }
      }

      .hebrew-date {
        margin-bottom: 1.34375em;
      }
    }
  }
}
