<div class="card">
  <div class="top">
    <img [src]="dedication.image" />
    <div class="details">
      <div class="primary">
        <span class="title">{{dedication.title}}</span>
        <span class="date">
          <mat-icon>today</mat-icon>
          {{renderPlainHebDate(dedication.date)}}
        </span>
        <span class="is-repeat">
          <mat-icon>restart_alt</mat-icon>
        {{isDedicationRepeat(dedication) ? 'חוזר כל שנה' : 'חד פעמי'}}
      </span>
      </div>

      <span class="description">{{dedication.description}}</span>
    </div>
  </div>

  <div class="actions">
    <mat-icon class="edit" (click)="editDedication()">edit</mat-icon>
    <mat-icon class="delete" (click)="deleteDedication()">delete</mat-icon>
  </div>
</div>
