<div class="login-container">
  <app-candle (animationend)="showForm = true"></app-candle>

  <form *ngIf="showForm" class="login-form animated fadeIn slow" [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        dir="rtl" autocomplete="off">
    <!-- Need to disable autofill -->
    <input autocomplete="false" name="hidden" type="text" style="display:none;">

    <div class="form-headline">
      <span class="title">מערכת לניהול הקדשות</span>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline">
        <mat-label>שם משתמש</mat-label>
        <mat-icon matSuffix>account_circle</mat-icon>
        <input matInput placeholder="" formControlName="username" autocomplete="off">
        <mat-error *ngIf="loginForm.controls.username.errors">יש להכניס שם</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>סיסמה</mat-label>
        <mat-icon matSuffix>key</mat-icon>
        <input type="password" matInput placeholder="" formControlName="password" autocomplete="off">
        <mat-error *ngIf="loginForm.controls.password.errors">יש להכניס סיסמה</mat-error>
      </mat-form-field>
    </div>

    <button class="submit-btn" mat-raised-button type="submit"
            [disabled]="!loginForm.valid">
      שלח
    </button>
  </form>
</div>
