.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: row;
}

mat-checkbox {
  border: 1px solid #4051b5;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  margin-left: 6px;
}

.mat-checkbox-label {
  margin-right: 3px;
}

.loading {
  margin-top: 10px;
}
