<div class="list-container">
  <h1>רשימת הקדשות</h1>
  <div class="actions">
    <mat-checkbox dir="rtl" [(ngModel)]="onlyActive">רק הקדשות פעילות</mat-checkbox>
    <button class="btn-create" mat-flat-button color="primary" (click)="navigateToCreate()">הוספת הקדשה</button>
  </div>
  <div class="loading" *ngIf="dedicationService.dedicationsFetched == false">טוען...</div>
  <app-dedication-card
    *ngFor="let dedication of dedicationService.$allDedications | async | OnlyActiveDedications:onlyActive"
    [dedication]="dedication">
  </app-dedication-card>
</div>
